*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer{
    background-color: #1C1C1C;
}
#customer{
    color: #FFD232;
}
#footerText{
    color: #419797;
    font-size: 20px;
    font-weight: bold;
}